.container{
    text-align: center;
    background-color:darkcyan;
}

.menu{
    display: flex;
    flex-direction: column;
}

.banner{
    background-color: darkgreen;
    border: solid greenyellow;
    border-radius: 20px;
}

#titulo{
    color: white;
}

