body{
    background-color: darkolivegreen;
}

.container{
    text-align: center;
    background-color:darkcyan;
    border: solid black;
    font: 1em sans-serif;
}

.menu{
    display: flexbox;
    flex-direction: row;
    gap: 10px;
}

.banner{
    text-align: center;
    background-color: darkgreen;
    border: solid greenyellow;
    border-radius: 20px;
}

button:hover{
    background-color: red;
}


.formulario{
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    margin: 20px;
}


img{
    width: 200px;
    height: 150px;
}

li{
    list-style-type: none;
}

@media (min-width: 0px ) and (max-width: 800px){
    .container2{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        background-color:darkcyan;
        gap: 3px;
        padding: 20px;
        margin: 10px;
        border: 5px solid black;
    }
    
    .container2 > img{
        width: 300px;
        height: 210px;
        margin-left: 620px;
        border: 3px solid black;
    }
}

@media (min-width: 801px ) and (max-width: 1400px){
    .container2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
        background-color:darkcyan;
        gap: 3px;
        padding: 20px;
        margin: 10px;
        border: 5px solid black;
    }
    
    .container2 > img{
        width: 300px;
        height: 210px;
        margin-left: 620px;
        border: 3px solid black;
    }
}

@media (min-width: 1401px ) and (max-width: 2000px){
    .container2{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        background-color:darkcyan;
        gap: 3px;
        padding: 20px;
        margin: 10px;
        border: 5px solid black;
    }

    .container2 > img{
        width: 300px;
        height: 210px;
        margin-left: 620px;
        border: 3px solid black;
    }
}